/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* إضافة تحسين التمرير */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}
